<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}Messenger</title>


        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body>
        <nav class="flex items-center justify-between px-10 py-6">
            <div>
                <a href="/" class="text-xl text-black">Messenger</a>
            </div>
            <div class="flex items-center space-x-6">
                {% if request.user.is_authenticated %}
                    <a href="/inbox" class="text-black hover:text-gray-500">Chats</a>
                    <a href="/logout" class="px-5 py-3 rounded-xl text-white bg-indigo-950 hover:bg-indigo-900">Log out</a>
                {% else %}
                    <a href="/login" class="text-black hover:text-gray-500">Log in</a>
                    <a href="/signup" class="px-5 py-3 rounded-xl text-white bg-indigo-950 hover:bg-indigo-900">Sign up</a>
                {% endif %}
            </div>
        </nav>

        {% block content %}
        {% endblock %}
    </body>

</html>