{% extends 'core/base.html' %}

{% block title %}Sign up | {% endblock %}

{% block content %}
<div class="p-6 lg:p-12 text-center">
    <h1 class="text-2xl lg:text-5xl text-black">Sign up</h1>
</div>

<form method="post" action="." class="lg:w-1/4 px-4 mx-auto">
    {% csrf_token %}

    <div class="mb-5">
        <label class="text-black">Username</label>
        <input type="text" name="username" class="w-full mt-2 px-4 py-2 rounded-xl bg-indigo-50 focus:bg-white invalid:border-pink-500 invalid:text-pink-600">
    </div>

    <div class="mb-5">
        <label class="text-black">Password</label>
        <input type="password" name="password1" class="w-full mt-2 px-4 py-2 rounded-xl bg-indigo-50 focus:bg-white invalid:border-pink-500 invalid:text-pink-600">
    </div>
    
    <div class="mb-5">
        <label class="text-black">Confirm password</label>
        <input type="password" name="password2" class="w-full mt-2 px-4 py-2 rounded-xl bg-indigo-50 focus:bg-white invalid:border-pink-500 invalid:text-pink-600">
    </div>

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="mb-5 p-4 rounded-xl bg-gray-100 text-black">
                    <p>{{ error|escape }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div class="flex justify-center mt-12">
        <button class="px-5 py-3 rounded-xl text-white bg-indigo-950 hover:bg-indigo-900">Create Account</button>
    </div>
</form>
{% endblock %}